{% extends 'base.html.twig' %}

{% block title %}Edit Child{% endblock %}

{% block body %}
<div class="crud-container">
    <div class="crud-header">
        <h1 class="crud-title">Edit Child</h1>
        <div class="crud-actions">
            <a href="{{ path('app_child_crud_index') }}" class="crud-button secondary">Back to List</a>
        </div>
    </div>

    <div class="crud-form">
        {{ include('child_crud/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

    <div class="crud-actions mt-4">
        {{ include('child_crud/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
